extends layout

block content
  h1= title
  p Welcome to #{title}
  section._main
    form(action="/page", method="post", enctype="multipart/form-data")
      div
        label ファイル：
        input(type="file", name="photo")
      div
        input(type="submit", value="アップロード")

    ul
      each uploadImage in uploadImages
        li
          img(src=uploadImage.path)
          p= uploadImage.username
