extends layout

block content
  h1= title
  p Welcome to #{title}
  section._main
    form(action="/signup", method="post")
      input(type="hidden", name="_csrf", value="#{csrf}")
      div
        label ユーザー名：
        input(type="text", name="username")
      div
        label パスワード：
        input(type="password", name="password")
      div
        input(type="submit", value="新規登録")
