body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
._main .image-area {
  width: 500px;
  height: 500px;
  background-color: #959595;
}
._main .item-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
._main .item-list li + li {
  margin-left: 10px;
}
._main .thumbnail {
  width: 100px;
  height: 100px;
}
#item-preview {
  max-width: 200px;
  max-height: 200px;
}
