body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

._main
  .image-area
    width 500px
    height 500px
    background-color #959595

  .item-list
    display flex
    list-style none

    li + li
      margin-left 10px

  .thumbnail
    width 100px
    height 100px
